@model Inventory.Models.ViewModels.CarroComprasVM
@using Microsoft.Extensions.Options
@using System.Globalization
@inject IOptions<InventoryWeb.Utilities.StripeSettings> Stripe
<form method="post">
    <br />   <br />
@*    <div class="backgroundWhiteBorder mt-5">*@
        <div class="container-fluid mt-5">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 col-md-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Detalles de la Orden
                    </div>
                    <div class="col-12 col-md-6" style="margin-left:10%">
                        <a asp-area="Inventario" asp-controller="CarroCompras"
                           asp-action="Index" class="btn btn-outline-info btn-sm">Regresar al Carro</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-md-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Detalles de Envío:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-md-3 col-12">
                                        <label>Cliente:</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input asp-for="Orden.NombreCliente" type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-md-3 col-12">
                                        <label>Telefono</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input asp-for="Orden.Telefono" type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-md-3 col-12">
                                        <label>Direccion</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input asp-for="Orden.Direccion" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-md-3 col-12">
                                        <label>Ciudad</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input asp-for="Orden.Ciudad" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-md-3 col-12">
                                        <label>Pais</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input asp-for="Orden.Pais" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Productos:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach (var item in Model.CarroComprasLista)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@item.Producto.Descripcion</h6>
                                                <small class="text-danger">Cantidad: @item.Cantidad</small>
                                                <small class="text-info">Precio: $@item.Precio.ToString("0.##")</small>
                                            </div>
                                            <span class="text-info"> 
                                                   @{
                                                    var total = item.Cantidad * item.Precio;
                                                   }
                                                   $@total.ToString("0.##")</span>
                                        </li>
                                    }

                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <strong class="text-info">Total: </strong>
                                        <strong class="text-info">$@(Model.Orden.TotalOrden.ToString("0.##"))</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-8 pt-2">
                            <p style="color:maroon; font-size:14px;">
                                Fecha Estimada de Envío: @DateTime.Now.AddDays(7).ToShortDateString() -
                                @DateTime.Now.AddDays(14).ToShortDateString()
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            @{
                                var TotalOrdenStripe = Model.Orden.TotalOrden * 100;
                            }
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-amount="@TotalOrdenStripe"
                                    data-name="Sistema Inventario"
                                    data-label="Realizar Pedido"
                                    data-description="Compra de Productos en Linea"
                                    data-locale="auto"
                                    data-allow-remember-me="false"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                            </script>
                            <script>
                                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>
                            <button type="submit" value="Realizar Pedido"
                                    class="btn btn-success form-control">
                                Realizar Pedido
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@*    </div>*@
</form>



